<%- include('partials/header'); -%>

<div class="jumbtron jumbotron-fluid" style="padding-top: 75px;">
  <div class="container">
    <h1 class=display-4>Hey, I'm Will</h1>
    <p class="lead">I use code to create cool things. Innovation is my passion.</p>
    <hr class="">
  </div>
</div>

<div class="container">
  <a href="https://linkedin.com/in/williamowuama" target="_blank" style="margin: 10px;"><i class="fa fa-linkedin" style="font-size:48px;" style="padding-right: 5px;" ></i></a>
  <a href="https://github.com/willowuama" target="_blank" style="margin: 10px;"><i class="fa fa-github" style="font-size:48px;" style="padding-right: 5px;" ></i></a>
  <a href="https://instagram.com/willowuama" target="_blank" style="margin: 10px;"><i class="fa fa-instagram" style="font-size:48px;" style="padding-right: 5px;" ></i></a>
  <a href="mailto:willowuama@gmail.com" style="margin: 10px;"><i class="fa fa-envelope" style="font-size:48px;" style="padding-right: 5px;" ></i></a>
</div>

<div class="container" style="padding-top: 100px;">
  <div class="col-9">
    <p class="lead">Test thatieanpidnvi anein giasdni anpvi nergu nraneing aiernga iena;erngu a</p>

  </div>

</div>


<%- include('partials/footer'); -%>
